	body {
	background:black;
	font-family: verdana;
	margin: 0;
	}

	h1 {
	color: blue;
	}

	p {
	padding: 8px 0px;
	background: black;
	color: white;
	}

	.secondary {
	background: #222;
	color: #999;
	}

	h3 {
	color: blue;
	font-family: verdana;
	}

	a {
	color: white;
	}

	header {
	background: red;
	color: black;
	}

	nav ul {
	margin: 0;
	}

	nav ul li {
	list-style-type: none;
	display: inline-block;
	background: orange;
	color: white;
	width: 33%;
	}

	nav ul li a {
	color: white;
	}